body {
    // background-color: #5fdb8e;
    // background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
    height: 1000px;
    margin: 2rem auto;
    max-width: 2000px;
    padding: 20px;
    font-family: Consolas;
    
    &h2 {
        margin-bottom: 10px;
        text-decoration: underline;
    }
    body {
        font-size: 20px;
        color:#800080
        
    }

}
