.returnedHerbs{
    display: flex;
    flex-direction: column;
    margin: 0 2.5rem;
    padding: 0 25px;
}
.topContainer{
    background-color: #6a6a6ab6; 
    color: white;
    text-shadow: 1px 1px 2px black;
    margin-top: 1rem;
    padding: 0 20px 20px;   
}

.herbsList{
    list-style-type: none;
    background-color: #6a6a6ab6;
    color: white;
    text-shadow: 1px 1px 2px black;
}
.name{
    text-decoration: underline;
}
.herb_image{
    max-width: 300px;
    height: auto;
}
.link{
    color: rgb(139, 179, 255);
}
.letterFilter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.letterSearch_Header{
    color: white;
    text-decoration: underline;
}
.letterSearch{
    display: flex;
    justify-content: space-around;
}
.letterChoice{
    width: 50px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    border: none;
    border-radius: 20px;
    background: rgb(145, 145, 145);
    border:solid 2px black;
    outline: none;
    margin-top: 1rem;
}
.illnessChoice{
    width: auto;
    color: #000;
    font-size: 12px;
    padding: 12px 19px;
    border: none;
    border-radius: 20px;
    background: rgb(145, 145, 145);
    border:solid 2px black;
    outline: none;
    margin-top: 1rem;
}
.displayIllness{
    display: flex;
    justify-content: center;
    padding: 1rem 0 2rem;
}
// .herb_section{
//     width: auto;
//     color: #000;
//     font-size: 12px;
//     padding: 12px 19px;
//     border: none;
//     border-radius: 20px;
//     background: rgb(145, 145, 145);
//     border:solid 2px black;
//     outline: none;
// }
