.returnedHerbs{
    display: flex;
    flex-direction: column;
    margin: 0 2.5rem;
    padding: 0 25px;
}
.topContainer{
    background-color: #6a6a6ab6; 
    color: white;
    text-shadow: 1px 1px 2px black;
    margin-top: 1rem;
    padding: 0 20px 20px;   
}

.herbsList{
    list-style-type: none;
    background-color: #6a6a6ab6;
    color: white;
    text-shadow: 1px 1px 2px black;
}
.name{
    text-decoration: underline;
}
.herb_image{
    max-width: 300px;
    height: auto;
}
.link{
    color: rgb(139, 179, 255);
}